<div class="dashboard">
    <div class="title-container">
        <h2>Todos as suas ideias</h2>
        <a href="/ideias/novaIdeia" class="btn">Add Pensamento</a>
    </div>

    
    <ul>
        {{#each ideiasRetorno}}
        <li>
            <div class="ideia-info">
                <span class="title">{{this.title}}</span>
                <span class="descricao">{{this.description}}</span>
            </div>

            <div class="ideia-actions">
                <form action="/ideias/deletaIdeia" method="post">
                    <input type="hidden" name="id" value="{{this.IdIdeia}}">
                    <input type="submit" value="Apagar" class="btn-del">
                </form>
                <a href="/ideias/editar/{{this.IdIdeia}}" class="btn">Editar</a>
                
            </div>


        </li>
        {{else}}
        <li>Nenhum pensamento encontrado.</li>
        {{/each}}
    </ul>
</div>